{% load static %}
<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Male_Fashion Template">
    <meta name="keywords" content="Male_Fashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Male-Fashion</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
    rel="stylesheet">
    
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
    <!--Plugin CSS file with desired skin-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/css/ion.rangeSlider.min.css"/>

    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static 'main/css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'main/css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'main/css/elegant-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'main/css/magnific-popup.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'main/css/nice-select.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'main/css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'main/css/slicknav.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}" type="text/css">
    
    <link rel="stylesheet" href="{% static 'main/fonts/icomoon/style.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/login_style.css' %}">
</head>

<body>


    {% block content %}



    {% endblock content %}



    <!-- Js Plugins -->
    <script src="{% static 'main/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'main/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'main/js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'main/js/jquery.nicescroll.min.js' %}"></script>
    <script src="{% static 'main/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'main/js/jquery.countdown.min.js' %}"></script>
    <script src="{% static 'main/js/jquery.slicknav.js' %}"></script>
    <script src="{% static 'main/js/mixitup.min.js' %}"></script>
    <script src="{% static 'main/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'main/js/main.js' %}"></script>
    <!--jQuery-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!--Plugin JavaScript file-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/js/ion.rangeSlider.min.js"></script>

    <script src="{% static 'main/js/popper.min.js' %}"></script>
    <script src="{% static 'main/js/login_main.js' %}"></script>
    {% block extra_js %}
    
    {% endblock extra_js %}
</body>

</html>